version: "4.15"

networks:
  clumsy-net:
    driver: bridge

services:
  event:
    container_name: event-ms
    image: regineshalom/event:1.0
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - 8000:8000
    networks:
      - clumsy-net
    depends_on:
      - db
      - migration

  migration:
    build: .
    image: regineshalom/event:1.0
    command: python manage.py migrate --noinput
    restart: always
    volumes:
      - .:/code
    networks:
      - clumsy-net
    depends_on:
      - db
  
  db:
    container_name: db
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"
      - POSTGRES_DB=event-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=rootroot
    ports:
      - "8080:5432"
    networks:
      - clumsy-net

volumes:
  postgres_data: