version: "3.8"

## not done, waiting for atrayee's docker compose 

networks:
  clumsy-net:
    driver: bridge
  # attendance-mysql-net:
  #   driver: bridge



volumes:
  studentdb_data:
  event_postgres_data:
  telesqldb_data:
  clubdb_data:
  # attendancedb_data:

services: 
  upload_signup: 
    container_name: upload_signup-ms 
    image: bernicesmu/upload_signup:1.0
    build: ./upload_signup
    command: python upload_signup.py 
    restart: always 
    ports: 
      - 5108:5110 
    networks: 
      - clumsy-net 
    environment: 
      attendanceURL: "http://attendance-container:5105/"
      studentURL: "http://student:8080/student/"
    depends_on:
      - student 
      - attendance-container

  mysqldb:
    image: mysql
    restart: always
    volumes:
      - studentdb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: a
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: studentdb
      hostname: mysqldb
    networks:
      - clumsy-net

  student:
    image: springboot-studentservice
    build: ./club-mgmt-student-service
    environment:
      dbname: mysqldb
    ports:
      - "5103:8080" #Expose docker port --> need to change according to our proj 
    depends_on:
      - mysqldb
    networks:
      - clumsy-net 
    volumes:
      - studentdb_data:/var/lib/mysql

  event:
    # container_name: event-ms
    image: bernicesmu/event:1.0
    build: ./Events
    command: python manage.py runserver 0.0.0.0:8000 --settings=api.settings --noreload 
    volumes:
      - .:/code
    ports:
      - 5105:8000
    networks:
      - clumsy-net
    depends_on:
      - eventDb
      - eventMigration

  eventMigration:
    build: ./Events
    image: bernicesmu/event:1.0
    command: python manage.py migrate --noinput
    # restart: always
    volumes:
      - .:/code
    networks:
      - clumsy-net
    depends_on:
      - eventDb
  
  eventDb:
    # container_name: eventDb
    image: postgres:13
    volumes:
      - event_postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: event-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rootroot
    ports:
      - 8080:5432
    networks:
      - clumsy-net

  exco:
    image: bernicesmu/auth
    build: ./authentication
    restart: always
    ports:
      - 5104:3010
    networks: 
      - clumsy-net

  attendance-container:
    image: bernicesmu/attendance:1.0
    build:
      context: ./attendance
      dockerfile: Dockerfile-flask
    restart: always
    ports:
      - 5101:5105
    depends_on:
      - attendancesqldb
    networks: 
      - clumsy-net

  attendancesqldb:
    container_name: attendancesqldb
    image: postgres:13
    # volumes:
    #   - attendance_postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: attendance-db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: rootroot
    networks: 
      - clumsy-net
    ports:
      - 5111:5432
      
# unsure if this should be here or docker-compose-final
  # attendanceDB:
  #   # container_name: attendanceDB
  #   volumes:
  #     - attendancedb_data:/var/lib/mysql
  #   environment:
  #     MYSQL_ROOT_PASSWORD: 2312
  #     MYSQL_USER: esd
  #     MYSQL_PASSWORD: 2312
  #     MYSQL_DATABASE: attendancedb
  #     hostname: attendancesqldb
  #   networks:
  #     - attendance-mysql-net
  #   ports:
  #     - 5111:3306

# unsure if the above should be here or docker-compose-final
  
  laravel-docker:
    container_name: club_database
    build: ./club_zipped
    working_dir: /var/www/html/club_zipped
    volumes:
      - ./:/var/www/html
    ports:
      - 5102:80
    depends_on:
      - mysql_db
    environment:
      - DB_HOST=mysql_db
      - DB_PORT=3306
      - APP_URL=http://localhost:5102
    networks:
      - clumsy-net
    command: php /var/www/html/club_zipped/artisan serve --host=0.0.0.0 --port=80

  laravel-migrations:
    container_name: club_migrations
    build: ./club_zipped
    command: sh -c "sleep 30 && php /var/www/html/club_zipped/artisan migrate --force"
    working_dir: /var/www/html/club_zipped
    volumes:
      - ./:/var/www/html
    depends_on:
      - mysql_db
    environment:
      - DB_HOST=mysql_db
      - DB_PORT=3306
    networks:
      - clumsy-net

  mysql_db:
    image: mysql:latest
    build: ./club_zipped
    container_name: mysql_db
    hostname: mysql_db
    volumes:
      - clubdb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: club
    ports:
      - 8889:3306
    networks:
      - clumsy-net

  generatetoken: 
    image: bernicesmu/generatetoken 
    build: ./generateToken 
    environment: 
      - EXCO_HOST=exco
      - CLUB_HOST=laravel-docker
      - EXCO_URL=http://exco:3010/
      - CLUB_URL=http://club_database:80/
    ports: 
      - 5109:3020 
    depends_on: 
      - exco 
      - laravel-docker
      - mysql_db 
    networks:
      - clumsy-net

  club-members:
    container_name: get_club_members
    build: ./getClubMembers
    ports: 
      - 5107:5107
    depends_on:
      - mysql_db
    networks:
      - clumsy-net
    environment:
      - PYTHONUNBUFFERED=1
      
  telesqldb-service:
    image: mysql:latest
    hostname: telesqldb
    restart: always
    volumes:
      - telesqldb_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: a
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: telesessiondb
    networks:
      - clumsy-net

  amqplistener-service:
    image: bernicesmu/amqplistener
    build: ./NotificationService/AMQPListener
    environment:
      HOST_NAME: telesqldb
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: a
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: telesessiondb
      BOT_TOKEN: 6294207840:AAHzxcCi7HFYCoVsSBMCWLkpcAhvda28krI
    depends_on:
      - telesqldb-service
    networks:
      - clumsy-net
    volumes:
      - telesqldb_data:/var/lib/mysql

  clumsybot-service:
    image: bernicesmu/clumsybot
    build: ./NotificationService/ClumsyBot/
    environment:
      HOST_NAME: telesqldb
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_USER: a
      MYSQL_PASSWORD: 1234
      MYSQL_DATABASE: telesessiondb
      BOT_TOKEN: 6294207840:AAHzxcCi7HFYCoVsSBMCWLkpcAhvda28krI
    depends_on:
      - telesqldb-service
    networks:
      - clumsy-net
    volumes:
      - telesqldb_data:/var/lib/mysql

  # amqplistener-service:
  #   image: bernicesmu/amqplistener
  #   build: ./NotificationService/AMQPListener
  #   # environment:
  #   #   db_name: telesqldb
  #   # ports:
  #   #   - "8080:8080" #Expose docker port 
  #   depends_on:
  #     - telesqldb-service
  #   networks:
  #     - clumsy-net
  #   volumes:
  #     - telesqldb_data:/var/lib/mysql

  # clumsybot-service:
  #   image: bernicesmu/clumsybot
  #   build: ./NotificationService/ClumsyBot/
  #   environment:
  #     db_name: telesqldb
  #     DB_NAME: telesqldb
  #     MYSQL_USER: a
  #     MYSQL_DATABASE: telesessiondb
  #     MYSQL_PASSWORD: 1234
  #   depends_on:
  #     - telesqldb-service
  #   networks:
  #     - clumsy-net
  #   volumes:
  #     - telesqldb_data:/var/lib/mysql
