<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <p>Upload attendance</p>
    <br>
    <br>
    <br>
    
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% if data %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Student Matriculation Number</th>
                <th>Telegram ID</th>
                <th>Sign Up</th>
                <th>Attended</th>
                <th>Late</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <br>
    <br>
    <p>Retrieve attendance</p>
    <p>Mark attendance</p>

</body>
</html>
